pft/
pft/
printfTester/
42TESTERS-PRINTF/                                                                                                                                                                                    ─╯
comprobarflag.cold
main.c
.gitignore
